#hide{
  visibility: hidden;
}
#mail{
    text-align: center;
    cursor:none;
    width: 200px;
    height: 30px;
}
#pass{
    text-align: center;
    cursor:none;
    width: 200px;
    height: 30px;
}
#hide{
  text-align: center;
  cursor:none;
  width: 100px;
  height: 30px;
}